.body{
    display: flex;
    margin-left: 80px;margin-right: 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
    font-family:Helvetica, sans-serif;
}
.break{
    margin-top: 50px;margin-bottom: 50px;
    border:solid;
    background-color: black;
    color: black;
    width: 300px;
    
}
#name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    font-weight: bold;
}
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px;
    font: 17px;
}
.titlelist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hl{
    width: 95%;
    display: flex;
    text-decoration: underline; color: black;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: baseline;
}

.description{
    display: flex;
    margin-top: 100px;margin-bottom: 100px;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    text-indent: 30px;
    margin:auto;
    font: 17px;
}
.date{
    border-width: 5px;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: left;
}